@import 'config';
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: $baseFontSize;
}

body {
  background: linear-gradient(rgba(235, 230, 230, 0.7), rgba(195, 195, 195, 0.8));
  background-repeat: no-repeat;
  height: 100vh;
}
h1 {
  text-align: center;
  padding-top: 1rem;
  font-size: 2.5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header {
  margin: auto;
}
